/* Visually hidden text for accessibility */
.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Wrapper for the toggle */
.toggle-wrapper {
    display: block;
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: opacity 0.3s ease;
    color: var(--bg);
    fill: var(--bg);
}

.sun {
    left: 0.35rem;
}

.moon {
    right: 0.35rem;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

/* Toggle base styles */
.toggle {
    height: 2rem;
    width: 4rem;
    border-radius: 999px;
    padding: 0.25rem;
    position: relative;
    margin: auto;
    cursor: pointer;
    background: var(--text);
}

/* Toggle handle */
.toggle::before {
    content: "";
    display: block;
    height: 1.275rem;
    width: 1.275rem;
    top: 0.35rem;
    left: 0.325rem;
    border-radius: 999px;
    background: var(--bg);
    position: absolute;
    z-index: 2;
    transform: translate(0);
    transition: transform var(--transition);
}

/* Move handle when enabled */
.toggle.enabled::before {
    transform: translateX(2rem);
}

/* Hide the checkbox */
.toggle input {
    position: absolute;
    top: 0;
    opacity: 0;
}